footer>ul>li:nth-of-type(3) i{
    background-image: url("../../img/footer/mine_act.png");
}
body{
    background-color: #fff;!important;
}
.operation{
    padding-top: 0.7rem;
    width: 40%;
    text-align: right;
}
.operation>em,.operation>i{
    width: 0.5rem;
    height: 0.8rem;
    position: absolute;
    top: 15%;
    background:url("../../img/mine_message.png")no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
}
.operation>em{
    right: 15%;
}
.operation>i{
    right: 3%;
    -webkit-background-size: 90%;
    background-size: 90%;
    background-image: url("../../img/share.png");
}
header{
    background-color: #f1ae4d;
    height: 3.3rem;
    width: 100%;
    position: relative;
}
header>.content{
    text-align: center;
}
header>.content>img{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    margin:0 auto;
    border-radius: 50%;
    margin-bottom: 0.1rem;
}
header>.content>.content_main>h3{
    font-size: 0.34rem;
    color:#fff;
}
header>.content>.content_main>p{
    color:#ef834d;
    font-size:0.2rem;
    margin-top: 0.1rem;
}
header>.content>.content_main>h4{
    font-size: 0.24rem;
    color:#fff;
    margin-top: 0.1rem;
}
.main{
    width: 100%;
}
.main>.content_main{
    margin-top: 0.5rem;
}
.main>.content_main>li{
    height: 1rem;
    line-height: 1rem;
    padding-left: 0.4rem;
    position: relative;
    background-color: #f2f2f2;
    border-bottom:1px solid #f2f2f2;

}
.main>.content_main>li>em{
    width: 0.5rem;
    height: 0.6rem;
    position: absolute;
    left: 5%;
    top: 20%;
    background: url("../../img/mine_account.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
.main>.content_main>li>div{
    border-bottom:1px solid #e0e0e0;
    position: relative;
    margin-left: 0.8rem;
    display: block;
}
.main>.content_main>li>div>span{
    font-size: 0.34rem;

}
.main>.content_main>li>div>i{
    position: absolute;
    right: 3%;
    top: 30%;
    font-size: 0.4rem;
}
.main>.content_main>.mine_account em{
    background-image: url("../../img/mine_setting.png");

}
.main>.content_main>.mine_account>div{
    border-bottom: none;
}
.mine_order{
    margin-top: 0.3rem;
}
.main>.content_main>.mine_order em{
    background-image: url("../../img/mine_order.png");
}
.main>.content_main>.mine_set em{
    background-image: url("../../img/mine_set.png");
}
.main>.content_main>.mine_about em{
    background-image: url("../../img/mine_about.png");
}
