.main{
    margin-top: 1.6rem;
}
nav{
    width: 100%;
}
nav>ul{
    height: 1.08rem;
    line-height: 1.08rem;
    
}
nav>ul>li{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 0.3rem;
    background-color: #e9e9e9;

}
nav>ul .active span{
    border-bottom: 2px solid #f0a30a; 
}
nav>ul>.active{
    background-color: #f2f2f2;
}
.lists{
    width: 100%;
    padding: 0.2rem 0.5rem;
}
.list{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}
.list>.left{
    width: 75%;

}
.list>.left>h3{
    font-size: 0.3rem;
    color:#333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-bottom: 0.1rem;
}
.list>.left>.center{
    color:#525252;
    padding-bottom: 0.1rem;
    font-size: 0.28rem ;
}
.left>.center>em{
    margin-right: 0.3rem;
}
.list_b{
    color:#f1ae4d;
    font-size: 0.26rem;
}
.right>em{

    width: 0.5rem;
    height: 0.5rem;
    display: block;
    margin:0 auto;
    margin-top: 0.2rem;
    background: url("../../img/message.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.right>span{
    margin-top: 0.6rem;
    color:#383838;
    font-size: 0.26rem;
    padding:0.05rem 0.1rem;
    border-radius: 20px;
    background-color: #f8bb62;
}




.listsList>.list{
    width: 100%;
    position: relative;
    height: 1.5rem;
    border-bottom: 1px solid #eeeeee;
}
.listsList>.list img{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-top: 0.3rem;
    vertical-align: middle;
}
.listsList>.list .center{
    position: absolute;
    left: 0.7rem;
    width: 70%;
    top: 10%;
}
.listsList>.list .center>em{
    display: block;
    overflow: hidden;
    display: -webkit-box;
    font-size: 0.28rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-bottom: 0.2rem;
}
.list .center>del{
    color:red;

}
.quit_job_detail{
    display: inline-block;
    width: 80%;
    height: 1.5rem;
}
.listsList>.list .right{
    right:-3%;
    position: absolute;
    top: 30%;
    font-size: 0.24rem;
    padding: 0.01rem 0.1rem;
    background-color: #f8bb62;
    color:#525252;
    border-radius: 10px;
}
.listsList>.list .center>del>i{
    background-color: #efe0cb;
    color:#666;
    padding: 0.05rem 0.2rem;
    border-radius: 2px;
}