<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>订单管理</title>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/header.css"/>
    <link rel="stylesheet" href="../../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../../css/mine/mine_order.css"/>
</head>
<body>
<div class="layer">
    <header>
        <i onclick="location.href='./mine.html'"></i>
        <h3>订单管理</h3>
    </header>
    <div class="main">
        <nav>
            <ul class="clearfix">
                <li class="active">
                    <span>接受的订单</span>
                </li>
                <li onclick="location.href='./mine_order_mySend.html'">
                    <span>发布的订单</span>
                </li>
            </ul>
        </nav>
        <div class="lists">
         <!--   <div class="list clearfix">
               <div class="left f_left" onclick="location.href='./Order_details.html'">
                   <h3>家务打扫</h3>
                   <p class="center">
                       <em>郑州新区</em>
                       <i>2018 10-13 15:16</i>
                   </p>

                   <ul class="list_b">
                       三种状态
                       <li>. 已报名</li>
                       <li>. 未处理</li>
                       <li>. 简历被查看</li>
                       <li>. 录用成功</li>
                       <li>. 拒绝录用</li>
                   </ul>
               </div>
                <div class="right f_right">
                    <em onclick="location.href='../index/chat.html'"></em>
                <span>取消订单</span>
                <span>等待支付</span>
                <span>支付完成</span>
                    &lt;!&ndash;成功可以取消 未处理也可取消 被拒绝不能取消&ndash;&gt;
                </div>

            </div>-->

        </div>
    </div>
</div>
</body>
<script src="../../js/common/x_rem.js"></script>
<script src="../../js/common/jquery.min.js"></script>
<!--<script src="../../js/common/zepto.min.js"></script>
<script src="../../js/common/selector.js"></script>
<script src="../../js/common/touch.js"></script>-->
<script src="../../js/common/base.js"></script>
<script src="../../js/common/back.js"></script>
<script src="../../js/common/sweetalert2.js"></script>
<script src="../../js/common/template-web.js"></script>
<script src="../../js/common/template.js"></script>
<script id="mine_order" type="text/html">
{{if data==null||data.length==0}}
<div class="no_info">对不起，您暂时没有订单</div>
{{else}}
{{each data as value i}}
<div class="list clearfix">
    <div class="left f_left" onclick="location.href='./Order_details.html?url={{value.jobOrderId}}'">
        <h3>{{value.job.workType}}</h3>
        <p class="center">
            <em>{{value.job.address}}</em>
            <i>{{time(value.job.startTime)}}</i>
        </p>
        <ul class="list_b">
            {{if value.status==0}}
            <li>. 已报名</li>
            <li>. 未处理</li>
            {{else if value.status==1||value.status==4||value.status==5||value.status==6}}
            <li>. 已报名</li>
            <li>. 简历被查看</li>
            <li>. 录用成功</li>
            {{else if value.status==2}}
            <li>. 已报名</li>
            <li>. 简历被查看</li>
            <li>. 拒绝录用</li>
            {{else if value.status==3}}
            <li>. 已报名</li>
            <li>. 简历被查看</li>
            <li>. 订单取消</li>
            {{/if}}

        </ul>
    </div>
    <div class="right f_right">
        <em onclick="location.href='../index/chat.html?url={{value.job.user.mobilePhone}}'"></em>
        {{if value.status==0||value.status==1}}
        <span>取消订单</span>
        {{else if value.status==3}}
        <span class="cancel">订单已取消</span>
        {{else if value.status==2}}
        <span class="reject">订单被拒绝</span>
        {{else if value.status==4}}
        <span>等待支付</span>
        {{else if value.status==5}}
        <span>等待支付</span>
        {{else if value.status==6}}
        <span>支付完成</span>
        {{/if}}
        <!--成功可以取消 未处理也可取消 被拒绝不能取消-->
    </div>
</div>
{{/each}}
    {{/if}}
</script>
<script>
$(function () {
    function render(data){
        console.log(data);
        if(data.code==200){
            template.helper("time",function(date){
                var time=new Date(date).toLocaleString().replace(/:\d{1,2}$/,' ').replace(/\//g,"-").substr(0,12);
                return time;
                /* return new Date(parseInt(date) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');*/
            });
            $(".lists").html(template("mine_order",data));
        }else{
            sweetAlert(
                    "sorry",
                    "您暂时"+data.msg,
                    "error"
            ).then(function () {
                        back();
                    })
        }
    }
    myAjax({url:"/job/getCurrentUserApplyJobOrder",async:false},render);
})
</script>
</html>